
include your all files in here that you do not want to push to your repo and git is smart enough to filter them out. So add the names and let the magic begin.
please accept my pull request if this information is usefull to you.
